<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" preserve-order="true">

    <parameter name="browser" value="chrome"/> <!-- chrome / edge / firefox -->
    <parameter name="environment" value="stage"/> <!-- stage / dev / uat / prod -->
    <parameter name="headless" value="false"/> <!-- true / false -->

    <test name="Login Tests"  enabled="false">
        <parameter name="userType" value="admin"/> <!-- admin / developer / annotator -->
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Forgot Password Tests"  enabled="true">
        <parameter name="userType" value="admin"/>
        <parameter name="email" value="aakash.kumar@garudauav.com"/> <!-- enter a valid email to receive OTP -->
        <parameter name="password" value="Garuda@123"/> <!-- enter the new password or leave Blank for random Password-->
        <classes>
            <class name="tests.ForgotPasswordTest"/>
        </classes>
    </test>

    <test name="Admin Dashboard Tests"  enabled="false">
        <parameter name="userType" value="admin"/>
        <classes>
            <class name="tests.AdminDashboardTest"/>
        </classes>
    </test>

    <test name="Datasets Tests"  enabled="false">
        <parameter name="userType" value="admin"/>
        <classes>
            <class name="tests.DatasetsTest"/>
        </classes>
    </test>

    <test name="Projects Tests"  enabled="false">
        <parameter name="userType" value="admin"/>
        <classes>
            <class name="tests.ProjectsTest"/>
        </classes>
    </test>

    <test name="Class Tags Tests"  enabled="false">
        <parameter name="userType" value="admin"/>
        <classes>
            <class name="tests.ClassTagsTest"/>
        </classes>
    </test>

    <test name="Users Tests"  enabled="false">
        <parameter name="userType" value="admin"/>
        <classes>
            <class name="tests.UsersTest"/>
        </classes>
    </test>

    <test name="Annotator Dashboard Tests"  enabled="false">
        <parameter name="userType" value="annotator"/>
        <classes>
            <class name="tests.AnnotatorDashboardTest"/>
        </classes>
    </test>

    <test name="Annotator Tasks Tests"  enabled="false">
        <parameter name="userType" value="annotator"/>
        <classes>
            <class name="tests.AnnotatorTasksTest"/>
        </classes>
    </test>

    <test name="Developer Dashboard Tests"  enabled="false">
        <parameter name="userType" value="developer"/>
        <classes>
            <class name="tests.DeveloperDashboardTest"/>
        </classes>
    </test>

    <test name="Developer Tasks Tests"  enabled="false">
        <parameter name="userType" value="developer"/>
        <classes>
            <class name="tests.DeveloperTasksTest"/>
        </classes>
    </test>

    <test name="Model History Tests"  enabled="false">
        <parameter name="userType" value="developer"/>
        <classes>
            <class name="tests.ModelHistoryTest"/>
        </classes>
    </test>

    <test name="Quick Stats Tests"  enabled="false">
        <parameter name="userType" value="admin"/> <!-- admin / developer -->
        <classes>
            <class name="tests.QuickStatsTest"/>
        </classes>
    </test>

</suite>
